<nav class="my-nav navbar navbar-default navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
		<a class="navbar-brand" href="/">
		<i class="fa fa-camera-retro fa-1x"></i>
		</a>
    </div>  
<h4 class="navbar-text">Banco de Series</h4>

    <form class="navbar-form navbar-right" role="search">
	    <div class="form-group">
	      <input type="text" class="form-control" placeholder="Buscar">
	    </div>
	    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
  	</form>

	<ul class="nav navbar-nav" style="float:right;">
		<li ><a href="/">Inicio</a></li>
		<li ><a href="/quem_somos">Quem somos?</a></li>
		<li ><a href="/login"><b>Login | Registrar</b></a></li>
	</ul>

   </div>
</nav>
